.pass {
  color: forestgreen;
  visibility: visible;
  position: relative;
  transition: transform 300ms;
}

.fail {
  color: tomato;
  visibility: visible;
  position: relative;
  transform: rotate(180deg);

  transition: transform 300ms;
}

.hidden {
  visibility: hidden;
  position: fixed;
}
.input-container {
  display: grid;
  max-width: 50%;
  min-height: 10rem;
  grid-template-columns: 1fr 2fr;
  align-content: space-between;
}

.fa-thumbs-up {
  margin-left: 15px;
}
