.pass {
  color: forestgreen;
  visibility: visible;
  position: relative;
  transition: transform 300ms;
}

.fail {
  color: tomato;
  visibility: visible;
  position: relative;
  transform: rotate(180deg);

  transition: transform 300ms;
}

.hidden {
  visibility: hidden;
  position: fixed;
}
